*.iml
.gradle
/local.properties
/.idea
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
ToffeeLite/kotlin/.idea/navEditor.xml
ToffeeLite/kotlin/.idea/libraries/Gradle__androidx_vectordrawable_vectordrawable_animated_1_1_0_aar.xml
ToffeeLite/kotlin/.idea/libraries/Gradle__androidx_vectordrawable_vectordrawable_1_1_0_aar.xml
